.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
}
.profile-image {
    float: right;
    width: 200px;
    height: 300px;
    padding-left: 15px;
}
.education {
    border-collapse: collapse;
}
.education th, td {
    padding: 10px;
    border: solid black 1px;
}